<main>
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{title}}</span>
        <span class="example-spacer"></span>
        <button class="toolbar-icon" mat-icon-button aria-label="PRD" (click)="onDescriptionButtonClick($event)" matTooltip="See PRD">
          <mat-icon>description</mat-icon>
        </button>
        <button class="toolbar-icon" mat-icon-button aria-label="More Info" (click)="onInfoButtonClick($event)" matTooltip="More Info">
          <mat-icon>info</mat-icon>
        </button>
        <button class="toolbar-icon" mat-icon-button aria-label="Help" (click)="onHelpButtonClick($event)" matTooltip="Get Help">
          <mat-icon>help</mat-icon>
        </button>
        <button mat-stroked-button class="toolbar-icon" (click)="onVersionButtonClick($event)" matTooltip="Release Notes">
          v0.1.0
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section>
    <div class="ad-settings">
      <form [formGroup]="tagForm">
        <div class="expansion-panel-container">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ad Settings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="full-width-input">
                <mat-label>Tag</mat-label>
                <textarea
                  id="tag"
                  type="text"
                  formControlName="tagUrl"
                  matInput
                  rows="3"
                  placeholder="https://ads.com/vast.xml"
                ></textarea>
              </mat-form-field>
              <div class="pal-enabled-container">
                <mat-checkbox class="pal-enabled-checkbox" formControlName="palEnabled"
                  >PAL Enabled</mat-checkbox
                >
              </div>
              <div formGroupName="pal">
                <div>
                  <mat-form-field class="forty-width-input">
                    <mat-label>Description Url</mat-label>
                    <input
                      matInput
                      placeholder="Ex. https://www.google.com"
                      formControlName="descriptionUrl"
                    />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="forty-width-input">
                    <mat-label>PPID</mat-label>
                    <input matInput placeholder="Ex. v3.2" formControlName="ppid" />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>OMID Partner Name</mat-label>
                    <input
                      matInput
                      placeholder="Ex. SomePartner"
                      formControlName="omidPartnerName"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>OMID Partner Version</mat-label>
                    <input
                      matInput
                      placeholder="Ex. SomePartner"
                      formControlName="omidPartnerVersion"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>OMID Version</mat-label>
                    <input matInput placeholder="Ex. SomePartner" formControlName="omidVersion" />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>Player Type</mat-label>
                    <input matInput placeholder="Ex. Live linear" formControlName="playerType" />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Player Version</mat-label>
                    <input matInput placeholder="Ex. v3.2" formControlName="playerVersion" />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Video Width</mat-label>
                    <input
                      type="number"
                      matInput
                      placeholder="Ex. 640"
                      formControlName="videoWidth"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Video Height</mat-label>
                    <input
                      type="number"
                      matInput
                      placeholder="Ex. 360"
                      formControlName="videoHeight"
                    />
                  </mat-form-field>
                </div>
                <div>
                  <mat-checkbox formControlName="willAutoPlay">Will Auto Play</mat-checkbox>
                  <mat-checkbox formControlName="willPlayMuted">Will Play Muted</mat-checkbox>
                  <mat-checkbox formControlName="continuousPlayback"
                    >Continuous Playback</mat-checkbox
                  >
                  <mat-checkbox formControlName="iconsSupported">Icons Supported</mat-checkbox>
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Video Settings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="full-width-input">
                <mat-label>Video Url</mat-label>
                <textarea
                  id="video"
                  type="text"
                  formControlName="video"
                  matInput
                  placeholder="https://cdn.com/master.mpd"
                  rows="1"
                ></textarea>
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div>
          <button (click)="onLoad()" mat-raised-button color="primary">Load</button>
        </div>
      </form>
    </div>
  </section>
  <section class="ad-section">
    <div class="video-container">
      <app-player #playerCard (manifestLoaded)="onManifestLoaded($event)"></app-player>
      <ng-template appLinearAds></ng-template>
    </div>
    <div class="companion-ad-container">
      <ng-template appCompanionAds></ng-template>
    </div>
  </section>
  <section>
    <app-console [logs]="logs"></app-console>
  </section>
</main>
